/*
different types of syntax for selectors

element selector

*/

body
{
    margin: 0;
    padding: 0;
}

/*

multiple element selectors
if you have the same rules for multiple element
    selectors, you may group the selectors
    as a comma separated list
the group may be coded on one physical line or
    multiple lines

*/

h1, h2,
h3,
h4,
p
{
    margin: 0;
    padding: 0;
}

/*

if you repeat the element selector in your css
    file, any additional rules are combined with
    previously  specified rules.
if you re-code a previously specified rule, then
    the new rule overrides the previous rule

    "Last rule wins"

*/

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
}

/*

descendant selectors

a descendant selector is a set of element selectors
    when used in your html, follow immediately, one
    after another

this can be used to isolate a particular selector
    from other occurances of the same selector
    on the page.

*/

footer ul
{
    background-color: #550000;
}

footer
{
    padding: 40px;
    background-color: #dedede;
}

/*

child selectors

a child selector is a set of element selectors
    used in your html, follow one
    after another

the selector order is "parent" through "child"

this can be used to isolate a particular selector
    from other occurances of the same selector
    on the page.

*/

main p
{
    font-style: italic ;
}